PORT=3000
DATABASE_URL=postgresql://postgres:Welcome%401234@localhost:5433/HOA_App
SESSION_SECRET=aV0W8audGd%D#@D5d-1Z4p%AB%J&J&&N
SCAN_API_KEY=A}U$&jHV+21;d#uSEu=;{pjCK;fQ{9i!
HOA_NAME=Our Homeowners Association
DEFAULT_MONTHLY_DUE=500.00
